@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
input,
button {
  background-color: unset;
  border: none;
  text-decoration: none;
}

a,
input,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input {
  font-style: normal;
  font-weight: normal;
  cursor: default;
}

p a {
  color: #2897E7;
}
p a:visited {
  color: #2897E7;
}

@media (max-width: 1920px) {
  body,
html {
    font-size: 25px;
  }
}
@media (max-width: 1440px) {
  body,
html {
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  body,
html {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  body,
html {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  body,
html {
    font-size: 12px;
  }
}

/*  Font size   */
@media (max-width: 1920px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
@media (max-width: 1600px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    margin: 0;
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 1440px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .mobile-none {
    display: none !important;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.95rem;
  }
  .mobile-none {
    display: none !important;
  }
}
@media (max-width: 412px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .mobile-none {
    display: none !important;
  }
}
/*   Root    */
@media (max-width: 1920px) {
  .app__navigation {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .app__navigation-link {
    padding: 2rem 1rem;
  }
}
@media (max-width: 1440px) {
  .app__navigation-link {
    padding: 1.5rem 1rem;
  }
  .app__navigation-link a {
    font-size: 0.85rem;
  }
}
@media (max-width: 640px) {
  .app__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__navigation-link.mobile-none {
    display: none !important;
  }
}

/*    Components    */
@media (max-width: 1920px) {
  .school {
    background-size: cover;
  }
}
@media (max-width: 640px) {
  .school {
    background-size: 175%;
  }
}

@media (max-width: 1920px) {
  .news__title {
    padding: 2.5rem 0 3rem;
  }
}
@media (max-width: 480px) {
  .news__title {
    padding: 2.5rem 0 1rem;
  }
}
@media (max-width: 1920px) {
  .news__content-image img {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .news__content-image img {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .contacts__link {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (max-width: 1920px) {
  .contacts__link {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (max-width: 640px) {
  .contacts__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 640px) {
  .contacts__content {
    padding: 2rem 0;
  }
}
@media (max-width: 640px) {
  .contacts__icon-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1920px) {
  .about__header {
    background-size: cover;
    background-position-y: -4rem;
  }
}
@media (max-width: 1600px) {
  .about__header {
    background-position-y: -3rem;
  }
}
@media (max-width: 960px) {
  .about__header {
    background-position-y: -10rem;
    background-size: auto;
  }
}
@media (max-width: 480px) {
  .about__header {
    background-position: 0;
    background-size: 50rem 20rem;
  }
}
@media (max-width: 1920px) {
  .about__list {
    padding: 4rem 3rem;
  }
}
@media (max-width: 960px) {
  .about__list {
    padding: 1rem 3rem;
  }
}
@media (max-width: 1920px) {
  .about__content {
    width: 30rem;
  }
}
@media (max-width: 412px) {
  .about__content {
    width: 20rem;
  }
}

@media (max-width: 1920px) {
  .widget__content {
    padding: 0.55rem 1rem;
    margin: 0 0.75rem;
  }
}
@media (max-width: 480px) {
  .widget__content-emoji img {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .menu__content button p {
    background-image: none !important;
  }
}

@media (max-width: 1920px) {
  .council-helper, .council-header, .council-structure {
    padding: 3rem 4rem;
  }
}
@media (max-width: 1440px) {
  .council-helper, .council-header, .council-structure {
    padding: 2rem 1.5rem;
  }
}

.school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/static/img/b-01.png");
  background-position-y: -2rem;
  color: #fff;
  width: 100%;
  height: 20rem;
}
.school__title h3 {
  margin: 0;
  text-align: center;
}
.school__subtitle h1 {
  margin: 0;
  text-align: center;
  padding: 0 0.5rem;
}

.news__title {
  background-color: #fff;
}
.news__title h2 {
  text-align: center;
}
.news__content {
  background-color: #fff;
  margin: 0.5rem 0;
  padding: 0 2.5rem;
}
.news__content.preview {
  margin: 0;
  padding: 1rem 2.5rem;
}
.news__content.detail {
  padding: 1rem 2.5rem 3rem;
}
.news__content-info {
  padding: 1rem 0 0;
}
.news__content-info p {
  margin: 0;
}
.news__content-info p span#creator {
  color: #000;
  font-size: 1rem;
  padding-right: 1rem;
}
.news__content-info p span#time,
.news__content-info p span#date {
  color: #847D7D;
}
.news__content-title h2 a {
  color: black;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.news__content-title h2 a:hover {
  background-size: 100% 2px;
}
.news__content-text p:last-child {
  margin-bottom: 0;
}
.news__content-image {
  padding: 1rem 0 0;
}
.news__content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 1rem 0;
}
.news__content-button button {
  color: #847D7D;
}
.news__content-button button:hover {
  text-decoration: underline;
}
.news__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 2rem 0;
}
.news__button a {
  color: #000;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.news__button a:hover {
  background-size: 100% 2px;
}

.contacts {
  color: #fff;
  background-color: #495464;
  padding: 1rem 2rem;
}
.contacts__title h2 {
  margin: 0;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__content-text p a {
  color: #fff;
}
.contacts__content-text p:first-child {
  margin: 0;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contacts__link a, .contacts__link button {
  color: #fff;
  text-decoration: none;
  text-align: right;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  padding: 0 0 0.5rem;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.contacts__link a:hover, .contacts__link button:hover {
  background-size: 100% 2px;
}
.contacts__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__icon-link img {
  width: 2rem;
  -webkit-transition: width 0.75s ease;
  transition: width 0.75s ease;
}
.contacts__icon-link img:hover {
  width: 2.5rem;
}

.widget {
  margin: 0.5rem 0;
}
.widget__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1.25rem 1rem;
}
.widget__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.25rem;
}
.widget__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
}
.widget__content-title p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #fff;
  text-align: center;
  font-size: 0.95rem;
}
.widget__content-emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.widget__content.blue-white {
  background: linear-gradient(80.29deg, #0E1978 6%, rgba(0, 26, 255, 0.588542) 52.48%, rgba(0, 212, 255, 0.37) 96.82%);
}
.widget__content.red-white {
  background: linear-gradient(80.29deg, #700619 6%, rgba(208, 0, 0, 0.588542) 52.48%, rgba(255, 255, 255, 0.37) 96.82%);
}
.widget__content.green-white {
  background: linear-gradient(80.29deg, #056D42 6%, rgba(13, 168, 66, 0.588542) 52.48%, rgba(70, 255, 133, 0.37) 96.82%);
}
.widget__content.purple-orange {
  background: linear-gradient(80.29deg, #833AB4 6%, rgba(253, 29, 29, 0.588542) 52.48%, rgba(252, 176, 69, 0.37) 96.82%);
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/static/img/b-about-page.png");
  color: #fff;
  width: 100%;
  height: 15rem;
}
.about__title h3 {
  margin: 0;
  text-align: center;
}
.about__subtitle h2 {
  text-align: center;
}
.about__list {
  background-color: #fff;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__content-title h3 {
  margin: 2rem 0 1rem;
}
.about__content-text p:first-child {
  margin-top: 0;
}
.about__content-text p:last-child {
  margin-bottom: 0;
}

.council {
  background-color: #fff;
  margin-top: 0.5rem;
}
.council-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.council-header__image img {
  width: 100px;
}
.council-structure {
  color: #fff;
  background-color: #495464;
}
.council-structure__title {
  text-align: center;
}
.council-structure__council {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  color: #000;
  text-align: center;
  padding: 1rem 2rem;
}
.council-structure__council-title {
  text-align: center;
}
.council-structure__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.council-structure__ministry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #000;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
}
.council-structure__ministry p {
  text-align: center;
}
.council-helper__title .title {
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 20rem;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.menu__content {
  position: absolute;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  padding: 2rem 0;
}
.menu__content button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
.menu__content button p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.menu__content button p:hover {
  background-size: 100% 2px;
}
.menu__content._active {
  opacity: 1;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  pointer-events: all;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

body,
html {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.app {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  background-color: #E5E5E5;
}
.app__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
}
.app__navigation-link a {
  color: #000;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.app__navigation-link a:hover {
  background-size: 100% 2px;
}
.app__navigation-link:first-child {
  padding-left: 1.5rem;
}
.app__navigation-link:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 1.5rem;
}
.app__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  background-color: #495464;
}