@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat/Montserrat-var.ttf');
}
* {
    font-family: 'Montserrat', sans-serif;
}

::selection {
background: none;
}

:root {
    --dark-blue-grad: linear-gradient(115.97deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 58.59%), #005F86;
    --pink-grad: linear-gradient(80.29deg, #833AB4 6%, rgba(253, 29, 29, 0.588542) 52.48%, rgba(252, 176, 69, 0.37) 96.82%);
    --green-grad: linear-gradient(80.29deg, #056D42 6%, rgba(13, 168, 66, 0.588542) 52.48%, rgba(70, 255, 133, 0.37) 96.82%);
    --red-grad: linear-gradient(80.29deg, #700619 6%, rgba(208, 0, 0, 0.588542) 52.48%, rgba(255, 255, 255, 0.37) 96.82%);
    --blue-grad: linear-gradient(80.29deg, #0E1978 6%, rgba(0, 26, 255, 0.588542) 52.48%, rgba(0, 212, 255, 0.37) 96.82%);
    --grey-background: #E5E8F0;
    --dark-grey-background: #495464;
    --egg: '«Каждый Призрак рождается, зная, что мы должны найти нашего Стража. Мы не знаем, как они выглядят. Во всяком случае, не снаружи. Внутри я всегда знаю, кем ты был. И вместе мы могли бы быть чем-то большим. Когда я думаю обо всем, что мы видели, обо всем, что мы сделали, я чувствую, что...я сделал правильный выбор. Спасибо - знаешь - за то, что ты мой Страж»'
}

html, body {
    background: var(--grey-background);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;

    scrollbar-width: thin
}
input {
    background-color: unset;
    border: none;
    text-decoration: none
}
h1, h2, h3, h4, h5, p, a, input {
    font-style: normal;
    font-weight: normal;
    cursor: default;
}
.bg-mWindow.active {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;

    bottom: 1%;
}
.bg-mWindow {
    display: none
}
.modalWindow {
    opacity: 0;
    align-self: center;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.modalWindow.active {
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

    width: 50%;
    height: max-content;
}
.windowContent h3 {
    text-align: center;
    padding: 2.5%;
}
.windowContent p {
    padding: 0 5% 0;
}
.windowContent {
    position: relative;
}
.btn-mw-close {
    position: absolute;
    z-index: 4;
    text-decoration: none;
    border: none;
    background: none;

    top: 7%;
    right: 2%;
}
.btn-mw-close:hover {
    text-decoration: underline;
}
div.inBlur:not(.bg-mWindow.active, .modalWindow, .windowContent) {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
#scrollToTop {
    transition: all 0.5s ease-in;
}
.grid {
    display: grid;
}

.txt-center {
    text-align: center;
}

.row {
    width: 98%;
    margin: 0 auto;
}

.error-block {
    text-align: center;
    display: grid;

    width: 1000px;
}
.container-fluid, .row {
    padding: 0;
}
.link {
    display: inline-block;
    text-align: center;
}
.nav-links {
    position: relative;
    background-color: white;
}

#last.link {
    position: absolute;
    right: 0;
}

a#nav-link, input#nav-link {
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    -webkit-transition: background-size .4s;
    -moz-transition: background-size .4s;
    -ms-transition: background-size .4s;
    -o-transition: background-size .4s;

    background-color: white;
    border: none;
}

a#nav-link:hover, input#nav-link:hover {
    background-size: 100% 2px;
}



.title-block {
    background-image: url('/static/img/b-01.png');
}

h3#upper-title {
    text-align: center;
    color: #FFFFFF;
}
h1#lower-title {
    text-align: center;
    color: #FFFFFF;
}

.fs-24 {
    font-size: 24px;
}

.card-info.info {
    width: 65%;
}

.inf-img {
    text-align: center;
}


.teach-block {
    display: inline-block;
    background: var(--dark-grey-background);
}

div.teach-img{
    text-align: center;
}

p#teach-title {
    color: white;
    text-align: center;
}

.teach-btn a {
    display: inline-block;
    color: black;
    background: #E8E8E8;
    text-decoration: none;
}

.teach-box {
    position: relative;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.teach-box img {
    position: relative;
}

.teach-hidden-text {
    position: absolute;

    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;

    width: 70%;

    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;

    color: white;
}

.teach-box:hover .teach-hidden-text {
    opacity: 1;
    transition: all 0.7s ease-in-out;
}
.teach-box:hover .teach-img {
    opacity: 0.4;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.teach-img {
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}



.news-btn a {
    display: inline-block;
    color: black;
    background: #BBBFCA;
    text-decoration: none;
    text-align: center;
}



.contact-block {
    display: inline-block;
    background: #495464;
}

.contact-content p, .contact-content h3, .contact-menu a, .contact-content p input, .contact-content a {
    color: #FFFFFF;
    text-decoration: none;
}
.contact-content p input:hover, .contact-content a:hover {
    text-decoration: underline;
}

.contact-menu {
    text-align: right;
}

.news-block {
    display: inline-block;
    background-color: white;
}


/* news */
.scrollTop, .scrollTop:hover {
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    color: gray;
    font-size: 18px;
}
.title-link, .title-link:hover {
    text-decoration: none;
    color: var(--bs-body-color);
}
.block-widgets {
    background-color: var(--grey-background);

}
.list-widgets {
    background-color: white;
}

.list-news {
    display: inline-block;
}

.list-news p {
    text-align: justify;
}

.news-time {
    vertical-align: text-bottom;
}
.news-time, .news-date {
    color: #847D7D;
}

/* Menu */

.group-options {
    padding: 5% 0 3%;
}
.block-menu {
    display: inline-block;
    background: #495464;
}

.group-options input {
    display: inline-block;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}
.group-options input:hover {
    font-weight: 500;
    text-decoration: underline;
}

.list-options {
    position: relative;
}

.list-options > div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.list-options > div:not(.active) {
    left: 20%;

    pointer-events: none;
    cursor: default;

    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* About */


.title-info, .header-info, .under-header {
    text-align: center;
    color: white;
}
.block-title {
    background-image: url('/static/img/b-about-page.png');
}
.cap-info {
    display: inline-block;
    width: 100%;
}
.card-info {
    display: inline-block;
}
.card-info div > p {
    margin: 0;
}
.block-about {
    position: relative;
    background-color: white;
}
.card-links {
    position: absolute;
    top: 0;
    right: 0;
}
.block-links {
    text-align: right;
}
.block-links div > h3, .block-links div > a {
    text-align: right;
}
.block-links div > a {
    display: block;
    color: #495464;
    text-decoration: none;
}

