.panel-menu-head, .panel-menu-footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
}
.btn-menu-head, .btn-menu-footer {
    border: none;
    background: none;
}
.btn-menu-footer {
    color: white;
}