#Custom
temp
temp/*
config.py

#Django#
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#Backupfiles#
*.bak

#IfyouareusingPyCharm#
#User-specificstuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

#AWSUser-specific
.idea/**/aws.xml

#Generatedfiles
.idea/**/contentModel.xml

#Sensitiveorhigh-churnfiles
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/libraries

#File-basedprojectformat
*.iws

#IntelliJ
out/

#JIRAplugin
atlassian-ide-plugin.xml

#Python#
*.py[cod]
*$py.class

#Distributionpackaging
.Pythonbuild
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittestcoveragereports
htmlcov
.tox
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis

#JupyterNotebook
.ipynb_checkpoints

#pyenv
.python-version

#celery
celerybeat-schedule.*

#SageMathparsedfiles
*.sage.py

#Environments
.env
.venv
env
venv
ENV
env.bak
venv.bak

#mkdocsdocumentation
/site

#mypy
.mypy_cache

#SublimeText#
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#sftpconfigurationfile
sftp-config.json

#PackagecontrolspecificfilesPackage
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

#VisualStudioCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history