body,
html {
    @include media-breakpoint-max(fhd) {
        font-size: 25px;
    }

    @include media-breakpoint-max(xxl) {
        font-size: 20px;
    }

    @include media-breakpoint-max(xl) {
        font-size: 18px;
    }

    @include media-breakpoint-max(lg) {
        font-size: 16px;
    }

    @include media-breakpoint-max(sm) {
        font-size: 14px;
    }
}

/*  Font size   */

@include media-breakpoint-max(fhd) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        margin: 0;
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@include media-breakpoint-max(xxxl) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        margin: 0;
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}

@include media-breakpoint-max(xxl) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        margin: 0;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

}

@include media-breakpoint-max(sm) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .mobile-none {
        display: none !important;
    }
}

@include media-breakpoint-max(s) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: .95rem;
    }

    .mobile-none {
        display: none !important;
    }
}

@include media-breakpoint-max(xs) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .mobile-none {
        display: none !important;
    }
}




/*   Root    */

.app {
    &__navigation {
        @include media-breakpoint-max(fhd) {
            justify-content: left;

            &-link {
                padding: 2rem 1rem;
            }
        }

        @include media-breakpoint-max(xxxl) {}

        @include media-breakpoint-max(xxl) {
            &-link {
                padding: 1.5rem 1rem;

                a {
                    font-size: .85rem;
                }
            }
        }

        @include media-breakpoint-max(xl) {}

        @include media-breakpoint-max(sm) {
            justify-content: center;

            &-link {
                &.mobile-none {
                    display: none !important;
                }
            }
        }
    }
}

.modal {
    @include media-breakpoint-max(s) {
        &__content {
            width: 25rem;
        }
    }
}

/*    Components    */

.school {
    @include media-breakpoint-max(fhd) {
        background-size: cover;
    }
}

.news {
    &__title {
        @include media-breakpoint-max(fhd) {
            padding: 2.5rem 0 3rem;
        }

        @include media-breakpoint-max(s) {
            padding: 2.5rem 0 1rem;
        }
    }

    &__content {
        &-image {
            img {
                @include media-breakpoint-max(fhd) {
                    width: 80%;
                }
                @include media-breakpoint-max(s) {
                    width: 100%;
                }
            }
        }
    }
}

.contacts {
    &__link {
        @include media-breakpoint-min(fhd) {
            align-items: end;
        }

        @include media-breakpoint-max(fhd) {
            align-items: end;
        }

        @include media-breakpoint-max(sm) {
            align-items: center;
        }
    }

    &__content {
        @include media-breakpoint-max(sm) {
            padding: 2rem 0;
        }
    }

    &__icon-link {
        @include media-breakpoint-max(sm) {
            justify-content: center;
        }
    }
}

.about {
    &__header {
        @include media-breakpoint-max(fhd) {
            background-size: cover;
            background-position-y: -4rem;
        }

        @include media-breakpoint-max(xxxl) {
            background-position-y: -3rem;
        }

        @include media-breakpoint-max(md) {
            background-position-y: -10rem;
            background-size: auto;
        }

        @include media-breakpoint-max(s) {
            background-position: 0;
            background-size: 50rem 20rem;
        }
    }

    &__list {
        @include media-breakpoint-max(fhd) {
            padding: 4rem 3rem;
        }

        @include media-breakpoint-max(md) {
            padding: 1rem 3rem;
        }
    }

    &__content {
        @include media-breakpoint-max(fhd) {
            width: 30rem;
        }

        @include media-breakpoint-max(xs) {
            width: 20rem;
        }

    }
}

.widget {
    &__content {
        @include media-breakpoint-max(fhd) {
            padding: .55rem 1rem;
            margin: 0 .75rem;
        }

        &-emoji {
            @include media-breakpoint-max(s) {
                img {
                    width: 50px;
                }
            }
        }
    }
}

.menu {
    &__content {
        button {
            p {
                @include media-breakpoint-max(s) {
                    background-image: none !important;
                }
            }
        }
    }
}

.council {
    &-helper, &-header, &-structure {
        @include media-breakpoint-max(fhd) {
            padding: 3rem 4rem;
        }

        @include media-breakpoint-max(xxl) {
            padding: 2rem 1.5rem;
        }
    }
}