@import '../components/menu';

input,
button {
    background-color: unset;
    border: none;
    text-decoration: none;
}

a,
input,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input {
    font-style: normal;
    font-weight: normal;
}

p {
    a {
        color: $blue-link;

        &:visited {
            color: $blue-link;
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;

    display: flex;

    backdrop-filter: blur(10px);

    margin: auto;


    &__content {
        @include flex-center;
        flex-direction: column;

        background: $black;
        color: $white;
        border-radius: 1rem;

        width: 35rem;

        margin: auto;
        padding: 2rem;

        &-titel {}

        &-text {}
    }

    &.close {
        display: none;
    }
}