input,
button {
    background-color: unset;
    border: none;
    text-decoration: none;
}

a,
input,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input {
    font-style: normal;
    font-weight: normal;
}

p {
    a {
        color: $blue-link;

        &:visited {
            color: $blue-link;
        }
    }
}