$breakpoints: (
    xs: 412,
    s: 480,
    sm: 640,
    md: 960,
    lg: 1024,
    xl: 1280,
    xxl: 1440,
    xxxl: 1600,
    fhd: 1920,
);

$gradients: (
    blue-white: $blue-white,
    red-white: $red-white,
    green-white: $green-white,
    purple-orange: $purple-orange
)