$breakpoints: (
    xs: 412,
    s: 480,
    sm: 640,
    md: 960,
    lg: 1024,
    xl: 1280,
    xxl: 1440,
    xxxl: 1600,
    fhd: 3600,
);

$gradients: (
    blue-white: (
        hover: $blue-white-hover,
        main: $blue-white
    ),
    red-white: (
        hover: $red-white-hover,
        main: $red-white
    ),
    green-white: (
        hover: $green-white-hover,
        main: $green-white
    ),
    purple-orange: (
        hover: $purple-orange-hover,
        main: $purple-orange
    )
)