<div class="app__navigation">
    <div class="app__navigation-link">
        <a id="nav-link" href="/">Главная</a>
    </div>

    <div class="app__navigation-link">
        <a id="nav-link" href="/news">Новости</a>
    </div>

    <div class="app__navigation-link">
        <a class="menu-button">Меню</a>
    </div>

    <div class="app__navigation-link mobile-none">
        <a id="nav-link" href="/about/council">ШУСС</a>
    </div>

    <div class="app__navigation-link mobile-none">
        <a id="nav-link" href="/reach">Связаться</a>
    </div>
</div>