{% load static %}

<div class="menu">
    <!-- level 1 -->
    <div class="menu__content _active" id="1.1">
        <button onclick="document.location.href = '/'">
            <p>Главная</p>
        </button>
        <button onclick="document.location.href = '/news'">
            <p>Новости</p>
        </button>
        <button onclick="document.location.href = '/about/council'">
            <p>ШУСС</p>
        </button>
        <button onclick="document.location.href = '/about/school'">
            <p>Школа</p>
        </button>
        <button onclick="openBurger(event, '2.1')">
            <p>Расписание</p>
        </button>
        <button onclick="openBurger(event, '2.2')">
            <p>Мероприятия</p>
        </button>
        <button onclick="document.location.href = '/reach'">
            <p>Связаться</p>
        </button>
    </div>

    <!-- level 2 -->

    <div class="menu__content" id="2.1">
        <button onclick="document.location.href = '/ghost'"><p>Расписания уроков</p></button>
        <button onclick="document.location.href = '/ghost'"><p>Расписание звонков</p></button>
        <button onclick="openBurger(event, '1.1')"><p>Назад</p></button>
    </div>

    <div class="menu__content" id="2.2">
        <button onclick="document.location.href = '/ghost'"><p>Собрания ШУСС</p></button>
        <button onclick="document.location.href = '/ghost'"><p>Собрания РДДМ</p></button>
        <button onclick="openBurger(event, '1.1')">
            <p>Назад</p>
        </button>
    </div>

    <!-- level 3 -->

    <div class="menu__content" id="3.1">
        <button onclick="openBurger(event, '1.1')">
            <p>Back</p>
        </button>
    </div>

    <div class="menu__content" id="3.2">
        <button onclick="openBurger(event, '1.1')">
            <p>Back</p>
        </button>
    </div>

    <div class="menu__content" id="3.3">
        <button onclick="openBurger(event, '1.1')">
            <p>Back</p>
        </button>
    </div>

    <div class="menu__content" id="3.4">
        <button onclick="openBurger(event, '1.1')">
            <p>Back</p>
        </button>
    </div>
</div>