<div class="modal close">
    <div class="modal__content">
        <div class="modal__content-title">
            <h2>Хей!</h2>
        </div>

        <div class="modal__content-text">
            <p>
                Данный сайт является концепцией сайта ученического совета. Если вас не устраивает то, что на нем
                ничего нет, то, пожалуйста, закройте его и откройте форточку. Спасибо :)

            </p>
            <p>
                Сурс код: <a href="https://github.com/black-evil-dragon/school-council">https://github.com/black-evil-dragon/school-council</a>
            </p>
        </div>
    </div>
</div>