@mixin media-breakpoint-min($name) {
    @media (min-width: #{map-get($breakpoints, $name)}px) {
        @content;
    }
}

@mixin media-breakpoint-max($name) {
    @media (max-width: #{map-get($breakpoints, $name)}px) {
        @content;
    }
}

@mixin smooth-underline() {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;

    &:hover {
        background-size: 100% 2px;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin setColor {
    @each $name, $gradient in $gradients {
        &.#{$name} {
            background: $gradient;
        }
    }
}