{% extends "main/base.html" %}

{% block title %}Страница не найдена{% endblock title %}

{% block content %}
    <div class="container-fluid error-block" style="height: 80%">
        <div style="position: relative; margin: auto">
            <h2>Запрашиваемая страница не найдена</h2>
            <p>Возможно, неправильно указан путь в адресной строке или страница была удалена.</p>
            <p><span style="text-decoration: underline;">Код ошибки 404.</span> Возврат на <a href="/">главную страницу</a></p>
        </div>
    </div>
{% endblock %}