.smooth-onset-05s {
    opacity: 0;
    animation: smoothShow 0.5s forwards;
    -webkit-animation: smoothShow 0.5s forwards;
}
.smooth-onset-1s {
    opacity: 0;
    animation: smoothShow 1s forwards;
    -webkit-animation: smoothShow 1s forwards;
}
.smooth-onset-2s {
    opacity: 0;
    animation: smoothShow 2s forwards;
    -webkit-animation: smoothShow 2s forwards;
}
.smooth-onset-3s {
    opacity: 0;
    animation: smoothShow 3s forwards;
    -webkit-animation: smoothShow 3s forwards;
}
.smooth-onset-5s {
    opacity: 0;
    animation: smoothShow 5s forwards;
    -webkit-animation: smoothShow 5s forwards;
}
@keyframes smoothShow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}