{% extends 'main/base.html' %}

{% block title %}
О школе
{% endblock title %}

{% block content %}
<div class="container-fluid block-title">
    <div class="cap-info">
        <div class="title-info">
            <h3>Муниципальное общеобразовательное учреждение</h3>
        </div>
        <div class="header-info">
            <h2>«Средняя общеобразовательная школа №30»</h2>
        </div>
        <div class="under-header">
            <p>Основана 1 сентября 1981 г.</p>
        </div>
    </div>
</div>

<div class="block-about">
    <div class="card-info block-founder mobile">
        <div class="title-founder">
            <h3>Учредитель</h3>
        </div>
        <div class="text-founder">
            <p>Администрация города Вологды</p>
            <p>Адрес: 160000, г. Вологда, ул. Каменный мост, д. 4.</p>
            <br>
            <p>Телефон: (8172) 72-48-84</p>
            <p>Факс: (8172) 72-25-29</p>
            <br>
            <p>Сайт: <a href="http://vologda-portal.ru">http://vologda-portal.ru</a></p>
            <p>Электронная почта: admgor@vologda-city.ru</p>
            <br>
            <p>Отдельные функции и полномочия Учредителя осуществляет Управление образования Администрации города Вологды.</p>
            <br>
            <p>Адрес: 160000, г.Вологда, ул. Козленская, дом №6.</p>
            <br>
            <p>Начальник Управления образования:</p>
            <p>Гуляева Ирина Леонидовна.</p>
            <br>
            <p>Сайт: <a href="http://www.vologda.edu.ru/">http://www.vologda.edu.ru/</a></p>
            <p>E-mail: uo@vologda-city.ru</p>
        </div>
    </div>


    <div class="card-info block-school mobile">
        <div class="title-school">
            <h3>Адрес МОУ”СОШ” №30</h3>
        </div>
        <div class="text-school">
            <p>Адрес: 160034, г.Вологда, ул. Костромская, д. 6</p>
            <br>
            <p>Режим работы: 08.00 - 19.00</p>
            <br>
            <p>График работы: понедельник - суббота</p>
        </div>
    </div>


    <div class="card-info block-contact mobile">
        <div class="title-school">
            <h3>Контаты</h3>
        </div>
        <div class="text-school">
            <p>Телефон: (8172) 53-04-12</p>
            <br>
            <p>Сайт: <a href="http://s10029.edu35.ru">http://s10029.edu35.ru</a></p>
            <br>
            <p>E-mail: school30@vologda-city.ru</p>
        </div>
    </div>
    <div class="card-info block-director last mobile">
        <div class="title-director">
            <h3>Директор</h3>
        </div>

        <div class="text-school">
            <p>Телефон: (8172) 53-02-81</p>
            <br>
            <p>E-mail: svet-tsvet@yandex.ru</p>
            <br>
            <p>Время работы:</p>
            <p>8.00 - 17.30 (пн-чт); </p>
            <p>9.00 - 18.30 (пт)</p>
            <br>
            <p>Время приёма по личным вопросам:</p>
            <p>9.00 - 11.00 (вт); </p>
            <p>17.00 - 18.00 (пт)</p>
        </div>
    </div>

    <div class="block-links card-links">
        <div class="title-links">
            <h3>Полезные ссылки</h3>
        </div>

        <div class="text-links">
            <a href="">Ссылка на местоположение Админстрации города</a>
            <a href="https://goo.gl/maps/HV9TcdKstABCad3T6">Ссылка на местоположение школы</a>
            <a href="">Ссылка на местоположение Управление образования</a>
            <a href="">Группа в “Вконтакте”</a>
            <a href="">Фотогалерея школы</a>
        </div>
    </div>
</div>
{% endblock content %}
