<div class="council-structure">
    <div class="council-structure__title">
        <h3>В ученический совет входят:</h3>
    </div>
    <div class="council-structure__content">
        <div class="council-structure__council">
            <p>Председатель</p>
            <p>Заместитель председателя</p>
            <p>Секретарь</p>

        </div>
        <div class="council-structure__wrapper">
            <div class="council-structure__ministry">
                <p>Министерство художественного оформления</p>
            </div>

            <div class="council-structure__ministry">
                <p>Медиа центр “Колесо 30”</p>
            </div>

            <div class="council-structure__ministry">
                <p>Министерство интелектуального развития</p>
            </div>

            <div class="council-structure__ministry">
                <p>Министерство правопорядка</p>
            </div>

            <div class="council-structure__ministry">
                <p>Министерство спорта и здоровый образ жизни</p>
            </div>
        </div>
    </div>
</div>