{% load static %}
<div class="council-header">
    <div class="council-header__wrapper">
        <div class="council-header__title">
            <h2>ШУСС</h2>
        </div>
        <div class="council-header__subtitle">
            <h3>Школьный ученический совет самоуправления</h3>
        </div>
        <div class="council-header__text">
            <p>Школьный Ученический Совет Самоуправления - это постоянно действующий орган управления школы, главной
                задачей которого является защита прав и интересов учеников 30-й школы.</p>
        </div>
    </div>

    <div class="council-header__image">
        <img src="{% static 'img/logo.png' %}" alt="">
    </div>
</div>