<div class="widget">
    <div class="widget__wrapper">
        {% if widgets %}
            {% for widget in widgets %}
                <div class="widget__content {{widget.gradient}}" onclick="document.location.href = '/article/{{ widget.link }}'">
                    <div class="widget__content-title">
                        <p>{{widget.title}}</p>
                    </div>
                    <div class="widget__content-emoji">
                        <img src="{{ widget.image.url }}" alt="">
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>