.widget {
    margin: .5rem 0;

    &__wrapper {
        display: flex;

        background-color: $white;
        overflow-y: auto;
        scrollbar-width: none;

        padding: 1.25rem 1rem;
    }

    &__content {
        display: flex;

        border-radius: 1.25rem;

        padding: .75rem 2rem;
        margin: 0 .75rem;

        &-title {
            @include flex-center;
            p {
                width: min-content;
                color: $white;
                text-align: center;
                font-size: .95rem;
            }

            padding-right: 1.5rem;
        }

        &-emoji {
            @include flex-center
        }

        @include setColor
    }
}