.news {
    &__title {
        background-color: $white;

        h2 {
            text-align: center;
        }
    }

    &__content {
        background-color: $white;

        margin: .5rem 0;
        padding: 0 2.5rem;

        &.preview {
            margin: 0;
            padding: 1rem 2.5rem;
        }
        &.detail {
            padding: 1rem 2.5rem 3rem;
        }

        &-info {
            padding: 1rem 0 0;
            p {
                margin: 0;
                span#creator {
                    color: $black;

                    font-size: 1rem;

                    padding-right: 1rem;
                }

                span#time,
                span#date {
                    color: $grey-text;
                }
            }
        }

        &-title {
            h2 {
                a {
                    color: black;

                    @include smooth-underline;
                }
            }
        }


        &-text {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-image {
            padding: 1rem 0 0;
        }

        &-button {
            display: flex;
            justify-content: left;

            padding: 1rem 0;

            button {
                color: $grey-text;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__button {
        @include flex-center;

        background-color: $white;

        padding: 2rem 0;

        a {
            color: $black;
            @include smooth-underline;
        }
    }

}