{% extends 'main/base.html' %}
{% load static %}
{% block title %}ШУСС Школы №30{% endblock title %}

{% block content %}
    <div class="container-fluid title-block">
        <div>
            <div class="upper-title smooth-onset-1s">
                <h3 id="upper-title">
                    ШУСС МОУ”СОШ” №30
                </h3>
            </div>
            <div class="lower-title smooth-onset-5s">
                <h1 id="lower-title">
                    Школьный ученический совет самоуправления
                </h1>
            </div>
        </div>
    </div>

    <div class="news container-fluid news-block">
        <div class="news__title news-title txt-center">
            <h2>Новости</h2>
        </div>

        <div>
            {% if post %}
                {% for news in post %}
                    <div class="news__content content-news">
                        <p class="news__content-info news-info">
                            <span class="news-creator">{{ news.creator }}</span>
                            <span class="news-time">
                                {{ news.time }}
                                <span class="news-date">
                                    {{ news.date|date:"d.m.Y" }}
                                </span>
                            </span>
                        </p>
                        <h2>{{ news.title }}</h2><br>
                        <p>{{ news.content|linebreaks }}</p>

                        {% if news.image %}
                            <img src="{{ news.image.url }}">

                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div class="news__button news-btn txt-center">
            <a href="news">Показать ещё</a>
        </div>
    </div>
    <div class="contacts container-fluid contact-block">
        <div class="row">
            <div class="contacts__content col-6 contact-content">
                <h3>Контакты</h3>

                <p>Директор школы: Дорочинская Светлана Владимировна<br>Телефон: (8172) 53-02-81<br>E-mail: svet-tsvet@yandex.ru</p>
                <p>Председатель: Руслан Копейкин<br>Телефон: +7 (960) 297-19-27<br>E-mail: <input type="button" value="ruslankopeikin@yandex.ru" onclick=""><br>VK: <a href="https://vk.com/rusyakopeykin">https://vk.com/rusyakopeykin</a></p>
                <p>Заместитель председателя: Влад Тараторин<br>VK: <a href="https://vk.com/suzaku_ki">https://vk.com/suzaku_ki</a></p>

                <div class="links-img">
                    <a href="https://vk.com/samoypravlenie30"><img src="{% static 'img/vk-64.png' %}" alt=""></a>
                </div>
            </div>

            <div class="contacts__link col-3 contact-menu mobile">
                <a href="/">Главная</a><br>
                <!--<a href="news">Новости</a><br>-->
                <!--<a href="about">О школе</a><br>-->
                <input type="button" value="Меню" class="btn-menu-footer scrollTop" id=""><br>
                <a href="" class="scrollTop">Наверх</a>
            </div>
        </div>
    </div>
{% endblock content %}
