{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}


<div class="block-news">
    <div class="list-news">
        <div class="content-news">
            <p class="news-info">
                <span class="news-creator">{{ post.creator }}</span>
                <span class="news-time">
                    {{ post.time }}
                    <span class="news-date">
                        {{ post.date|date:"d.m.Y" }}
                    </span>
                </span>
            </p>
            <h2><a href="{% url 'post_detail' pk=post.id %}" class="title-link">{{ post.title }}</a></h2><br>
            <p>{{ post.content }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}">

            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}