<div class="container-fluid inf-block">
    <div class="row">
        <div class="col-5 inf-img">
            <img src="{% static 'img/inf-01.png' %}" draggable="false">
        </div>

        <div class="col-7 inf-text">
            <div class="card-info info block-school">
                <div class="title-school">
                    <h3>Адрес МОУ”СОШ” №30</h3>
                </div>
                <div class="text-school">
                    <p>Адрес: 160034, г.Вологда, ул. Костромская, д. 6</p>
                    <br>
                    <p>Режим работы: 08.00 - 19.00</p>
                    <br>
                    <p>График работы: понедельник - суббота</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid teach-block">
    <div class="teach-title grid">
        <h2 id="teach-title">Наш педагогический состав</h2>
    </div>

    <div class="row teach-img teach-title-p">
        <div class="col-4">
            <div class="teach-box">
                <img class="teach-img" src="{% static 'img/img-hia.png' %}" draggable="false">
                <p class="teach-hidden-text">
                    Заместитель директора по УВР, «Почётный работник народного образования РФ», стаж работы 29 лет
                </p>
            </div>
            <p id="teach-title">Худякова Ирина Александровна</p>
        </div>
        <div class="col-4">
            <div class="teach-box">
                <img class="teach-img" src="{% static 'img/img-dsv.png' %}" draggable="false">
                <p class="teach-hidden-text">
                    Директор школы,  стаж работы 30 лет, учитель английского языка высшей квалификационной категории
                </p>
            </div>
            <p id="teach-title">
                Дорочинская Светлана Владимировна
            </p>
        </div>
        <div class="col-4">
            <div class="teach-box">
                <img class="teach-img" src="{% static 'img/img-msl.png' %}" draggable="false">
                <p class="teach-hidden-text">
                    «Почётный работник общего образования», стаж работы 34 года, учитель начальных классов высшей квалификационной категории
                </p>
            </div>
            <p id="teach-title">Маковеева Светлана Леонидовна</p>
        </div>

        <div class="teach-btn">
            <a href="teachers">Показать ещё</a>
        </div>
    </div>
</div>