.error {
    position: absolute;
    width: 100%;
    height: 90%;

    @include flex-center;
    flex-direction: column;

    &__title {
        text-align: center;
    }

    &__content {
        &-text {
            text-align: center;
        }
        &-info {
            text-align: center;
        }
        &-link {
            text-align: center;
        }
    }
}